@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  direction: rtl;
}

@font-face {
  font-family: "estedad";
  src: url("./../public/fonts/Estedad[wght\,kshd].ttf") format("TrueType");
}
@font-face {
  font-family: "montserrat";
  src: url("./../public/fonts/Montserrat-Black.ttf") format("TrueType");
}

.navbarFont,
.headerSite,
.subHeaderSite,
.aboutmeHeader,
.aboutMeTexts,
.TextsAbility,
.abilityHeader,
.headerTechSection,
.headFooter {
  font-family: "estedad";
}
.technoFonts {
  font-family: "montserrat";
}
.testclass {
  transition: all 0.3s ease;
}
.swiper {
  margin-bottom: 100px;
}
